/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
}

.center {
    text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../images/montp-exit-code-sm.jpg');
  background-size: cover;
  background-position: left top ;
}

.hero-heading {
  color: white;
  font-weight: 600;
  letter-spacing: .15rem;
  text-shadow: #333333 3px 0px 0px, #333333 2.83487px 0.981584px 0px, #333333 2.35766px 1.85511px 0px, #333333 1.62091px 2.52441px 0px, #333333 0.705713px 2.91581px 0px, #333333 -0.287171px 2.98622px 0px, #333333 -1.24844px 2.72789px 0px, #333333 -2.07227px 2.16926px 0px, #333333 -2.66798px 1.37182px 0px, #333333 -2.96998px 0.42336px 0px, #333333 -2.94502px -0.571704px 0px, #333333 -2.59586px -1.50383px 0px, #333333 -1.96093px -2.27041px 0px, #333333 -1.11013px -2.78704px 0px, #333333 -0.137119px -2.99686px 0px, #333333 0.850987px -2.87677px 0px, #333333 1.74541px -2.43999px 0px, #333333 2.44769px -1.73459px 0px, #333333 2.88051px -0.838247px 0px;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/sam-burriss-montp-duo-sm.jpg');
  background-size: cover;
  color: #fff;
  padding: 2rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  font-weight: 600;
  color: #f8f8f8;
  text-shadow: 1px 1px 3px #70D470;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

.traits {
  max-width: 50%;
  margin: 0 auto;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/fall-highway-duo-sm.jpg');
  background-size: cover;
  color: #fff;
  background-position: center;
}

.legalese {
  text-align: left;
  /*margin-left: 5%;*/
}

.legalese-header {
  margin-left: 0%;
  text-align: center;
}

.tasks {
  background-color: orange;
}

.hiring {
  background-color: lightblue;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  background-color: #8586C5;
  color: white;
}

.footer a {
  color: #FBB03B;
}


/* MAP */

#map {
  position:relative;
  top:0;
  bottom:0;
  width:100%;
  height: 75%;
  max-height: 512px;
  min-height: 256px;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .hero-heading {
    font-size: 2.4rem;
    /*font-weight: 600;
    color: white;*/
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 3.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
  .values {
    padding: 2rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1025px) {
  .section {
    padding: 15rem 0 15rem;
  }
  .values { padding: 20rem} /* Override section for The Experience section */

  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 4.0rem;
  }
}
